{% extends 'base.html' %}{% load static %} {% load embed_video_tags %} {% block extrastyles %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/blog.css' %}" />
<style>
  header {
    background: #000000;
  }
  a {
    color: #ffffff;
  }
  video {
    width: 100%;
    height: 100%;
  }
</style>
{% endblock extrastyles %} {% block title %} Lost Archives | Blog {% endblock title %} {% block content %} {% include 'nav.html' %}

<section class="blog" data-aos="fade-up" data-aos-anchor-placement="top-center">
  {% for post in queryset %}
  <div class="blog-overview" data-aos="zoom-in-up">
    <div class="article-img col-8">
      {% if post.thumbnail %}
      <a href="{{ post.get_absolute_url }}"
        ><img src="{{ post.thumbnail.url }}" class="img-fluid" alt=""
      /></a>
      {% elif post.video %}
      <div class="video">
        <a href="{{ post.get_absolute_url }}"
          ><video
            src="{{ post.video.url }}"
            autoplay="true"
            title="Video"
            controls="true"
          ></video
        ></a>
      </div>
      {% endif %}
    </div>

    <div class="article-text">
      {% for category in post.categories.all %}
      <a href=""><span class="category">| {{ category }} |</span></a>
      {% endfor %}
      <a href="{{ post.get_absolute_url }}"><h1>{{ post.title }}</h1></a>
      <span class="article-paragraph">{{ post.overview }}</span>
      <div class="poster-details">
        <p>
          <span
            ><i class="fa fa-user"></i> {{ post.author.user.username }}|</span
          >
          <i class="fa fa-clock-o"> {{ post.timestamp | timesince }} |</i>
          <span><i class="fa fa-comment"> {{ post.comment_count }}</i></span>
        </p>
      </div>
      {% if is_paginated %}

      <nav aria-label="Page navigation example">
        <ul
          class="pagination pagination-template d-flex justify-content-center"
        >
          {% if page_obj.has_previous %}
          <li class="page-item active">
            <a
              href="?{{ page_request_var }}={{ page_obj.previous_page_number }}"
              class="page-link"
            >
              <i class="fa fa-angle-left" style="color: #ffffff"></i
            ></a>
          </li>
          {% endif %}
          <li class="page-item primary">
            <a
              href="?{{ page_request_var }}={{ page_obj.number }}"
              class="page-link active"
              style="color: #000000"
              >{{ page_obj.number }}</a
            >
          </li>
          {% if page_obj.has_next %}
          <li class="page-item active">
            <a
              href="?{{ page_request_var }}={{ page_obj.next_page_number }}"
              class="page-link"
            >
              <i class="fa fa-angle-right" style="color: #ffffff"></i
            ></a>
          </li>
          {% endif %}
        </ul>
      </nav>

      {% endif %}
    </div>
  </div>
  {% endfor %}
  <div class="blog-navigators" data-aos="zoom-in-up">
    <div class="search">
      <h1>Search The Blog</h1>
      <div class="input">
        <form action="{% url 'search' %}" class="search-form">
          <input type="search" name="q" id="search" placeholder="What Are You Looking For?" />
          <button type="submit" style="border: none; background: transparent; color: #ffffff;"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
    {% if most_recent %}
    <div class="posts">
      <h1>Latest Posts</h1>
      {% for post in most_recent %}
      <div class="post">
        {% if post.thumbnail %}
        <div class="img">
          <a href="{{ post.get_absolute_url }}"
            ><img src="{{ post.thumbnail.url }}" alt=""
          /></a>
        </div>
        {% endif %}
        <div class="info">
          <a href="{{ post.get_absolute_url }}"
            ><h1 style="color: #8b8b8b">{{ post.title }}</h1></a
          >
          <p>
            <span><i class="fa fa-eye"></i> {{ post.view_count }} </span>
            <span><i class="fa fa-comment"></i>{{ post.comment_count }}</span>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

{% include 'footer.html' %} {% endblock content %}
