{% extends 'base.html' %}{% load static %} {% block content %}
<footer class="footer">
  <div class="all-foot">
    <div class="foot-links">
      <div class="flex">
        <h2>Lost Archives</h2>
        <p class="location">119 Moh'd Mustapha Way, Jimeta Yola</p>
        <p class="phone">
          Phone: <a href="tel:+2348145774106">+2348145774106</a>
        </p>
        <p class="mail">
          Email:
          <a href="mailto:lostarchives@gmail.com">lostarchives@gmail.com</a>
        </p>
        <div class="social-links">
          <a href="" class="link"><i class="fa fa-facebook"></i></a>
          <a href="" class="link"><i class="fa fa-twitter"></i></a>
          <a href="" class="link"><i class="fa fa-instagram"></i></a>
          <a href="" class="link"><i class="fa fa-behance"></i></a>
          <a href="" class="link"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
      <div class="flex">
        <div class="navigators">
          <ul>
            <a href="" class="navigator"><li>My Account</li></a>
            <a href="" class="navigator"><li>Ad Placement</li></a>
            <a href="" class="navigator"><li>Pricing</li></a>
            <a href="" class="navigator"><li>Privacy & Policy</li></a>
          </ul>
        </div>
      </div>
      <div class="flex">
        <div class="navigators">
          <ul>
            <a href="" class="navigator"><li>Our Partners</li></a>
            <a href="" class="navigator"><li>FAQ</li></a>
            <a href="" class="navigator"><li>How it Works</li></a>
            <a href="" class="navigator"><li>Contact</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="foot-bottom">
    <div class="copyright">
      <h4>
        &copy; 2021.All rights reserved.
        <span class="name">LOST ARCHIVES</span>
      </h4>
    </div>
    <div class="designed-by">
      <p>Designed by <span>CODEX</span></p>
    </div>
  </div>
</footer>

{% endblock content %}
