* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hamburger {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger .cancel {
  transform: rotate(45deg);
  display: none;
  animation: cancel 0.5s linear;
}

.body {
  background: #000000;
  color: #ffffff;
}
.day-light {
  background: #ffffff;
}

section,
.all-foot {
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  position: absolute;
  color: #ffffff;
}

.header .empty,
.header .icon {
  flex: 0.5;
}

.header .icon {
  flex: 1;
}

.header nav {
  flex: 1;
}

.header nav .nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.header nav .nav-links .nav-link {
  text-decoration: none;
  color: #ffffff;
}

.header .search-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50px;
}

.header .search-btn .search {
  background: transparent;
  border: none;
}

.header .search-btn .search a {
  color: #ffffff;
}

.header .search-btn .search i {
  font-size: 20px;
}

.nav {
  background-color: #000000;
  border: none;
  position: fixed;
  width: 100%;
  min-height: 10vh;
  z-index: 1;
  top: 0px;
  animation: nav_bar 0.7s linear;
  width: 100%;
}

.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0.308) 40%,
      rgba(0, 0, 0, 0.705) 80%,
      black 100%
    ),
    url(../img/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: left;
  min-height: 90vh;
  flex-flow: column;
}

.banner .cover {
  color: #ffffff;
  line-height: 50px;
}

.banner .cover h1 {
  font-size: 50px;
  letter-spacing: 3px;
}

.banner .cover p {
  font-size: 20px;
  letter-spacing: 5px;
}

.banner .about {
  position: relative;
  top: 80px;
}

.banner .about a {
  color: #cacaca;
  text-decoration: 1px solid #ffffff;
  font-size: 20px;
}

.blog-overview {
  margin-top: 100px;
}

.blog-overview a {
  text-decoration: none;
  color: #ffffff;
}

.blog-overview .heading {
  font-size: 30px;
}

.blog-overview .latest-posts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

.blog-overview .latest-posts .card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #1d1c1c;
  min-height: 40vh;
}

.blog-overview .latest-posts .card .text {
  padding: 50px;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: column;
}

.blog-overview .latest-posts .card .img img {
  width: 100%;
  height: 100%;
}

.blog-overview .latest-posts .empty {
  background: #000000;
  height: 5vh;
}

.showoff {
  margin-top: 100px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.63))
    ),
    url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.most-viewed {
  margin-top: 30px;
}

.most-viewed a {
  text-decoration: none;
  color: #ffffff;
}

.most-viewed .heading {
  text-align: center;
}

.most-viewed .heading h1 {
  font-size: 50px;
  letter-spacing: 3px;
  line-height: 100px;
}

.most-viewed .heading p {
  letter-spacing: 2px;
}

.most-viewed .posts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.most-viewed .posts .card {
  padding: 30px;
}

.most-viewed .posts .card .img img {
  width: 100%;
  height: 100%;
}

.most-viewed .posts .card .text {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: column;
  min-height: 20vh;
}

.most-viewed .posts .card .text .timing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.subscribe {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: column;
  height: 50vh;
  background: #ffffff;
}

.subscribe .text h1 {
  font-size: 40px;
  letter-spacing: 3px;
  color: #000000;
}

.subscribe .text p {
  color: #474747;
}

.subscribe .input {
  display: flex;
}

.subscribe .input #input {
  width: 500px;
  background: transparent;
  border: 1px solid #000000;
  border-right: none;
}

.subscribe .input input,
.subscribe .input .btn {
  height: 50px;
}

.subscribe .input .btn {
  width: 100px;
  background: #000000;
  color: #ffffff;
  border: none;
}

.footer {
  background: #1b1b1b;
}

.footer .all-foot .foot-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50vh;
}

.footer .all-foot .foot-links a {
  text-decoration: none;
  color: #ffffff;
}

.footer .all-foot .foot-links .flex {
  line-height: 40px;
}

.footer .all-foot .foot-links .flex .navigators ul {
  list-style: none;
}

.footer .all-foot .foot-links .flex .social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .foot-bottom {
  background: #000000;
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .foot-bottom span {
  color: #ec4f4f;
}

@keyframes navbegin {
  from {
    top: -1000px;
  }
  to {
    top: 3rem;
  }
}

@keyframes navend {
  from {
    top: 3rem;
  }
  to {
    top: -1000px;
  }
}

@keyframes cancel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes nav_bar {
  0% {
    opacity: 0;
    height: 0vh;
  }
  25% {
    opacity: 0.2;
    height: 15vh;
  }
  50% {
    opacity: 0.5;
    height: 20vh;
  }
  75% {
    opacity: 0.7;
    height: 15vh;
  }
  100% {
    opacity: 1;
    height: 10vh;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    background: #000000;
    top: 0;
    z-index: 20;
    min-height: 15vh;
  }
  .header nav .nav-links {
    position: absolute;
    top: -1000px;
    left: 50%;
    transform: translate(-50%, 0%);
    flex-flow: column;
    width: 100%;
    height: 50vh;
    background: #2c2c2c;
    color: #ffffff;
    animation: navend 0.5s linear;
  }
  .header nav .nav-links .nav-link {
    color: #ffffff;
  }
  .header nav .nav-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    animation: navbegin 0.3s linear;
    position: fixed;
    top: 5rem;
    height: 50vh;
    width: 100%;
    padding: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .header .hamburger {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    z-index: 100;
  }
  .header .hamburger .cancel-view {
    display: block;
  }
  .blog {
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 0;
  }
  .blog .blog-overview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: justify;
    width: 100%;
  }
  .blog .blog-overview .article-text {
    text-align: left;
  }
  .blog .posts {
    justify-content: center;
    padding: 0;
  }
  .blog .blog-navigators {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .blog .blog-navigators .search {
    display: none;
  }
  .blog .blog-navigators .posts {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .blog-overview .latest-posts .card {
    flex-wrap: wrap;
  }
  .most-viewed .posts {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 650px) {
  .subscribe .input #input {
    width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .subscribe .input #input {
    width: 200px;
  }
  .footer .all-foot .foot-links {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 400px) {
  .blog-overview .heading {
    font-size: 20px;
  }
  .blog-overview .latest-posts .card .text {
    font-size: 10px;
  }
  .subscribe .input #input {
    width: 100px;
  }
}
/*# sourceMappingURL=styles.css.map */
